@font-face {
  font-family: 'Overpass';
  src: url('../fonts/Overpass-Bold.eot');
  src: url('../fonts/Overpass-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Overpass-Bold.woff2') format('woff2'),
  url('../fonts/Overpass-Bold.woff') format('woff'),
  url('../fonts/Overpass-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: '../fonts/Overpass';
  src: url('../fonts/Overpass-Regular.eot');
  src: url('../fonts/Overpass-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Overpass-Regular.woff2') format('woff2'),
  url('../fonts/Overpass-Regular.woff') format('woff'),
  url('../fonts/Overpass-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
